.font-hidden{
  font-size: 0;
}

#result{
  width: 10rem;
  margin: 0 auto;
  background-image: url(../img/result_bg.png);

  .boss-result-img{
    width: 10rem;
    height: 5.84rem;
  }

  .boss-report{
    position: relative;
    .report-detail{
      position: absolute;
      top: 1.1rem;
      left: 1.2666rem;
    }
  }

  .report-detail{
    box-sizing: border-box;
    padding: 0.2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/result_info_box_up.png);
    width: 3.6533rem;
    height: 2.04rem;
    padding-bottom: 0.6rem;
    background-size: cover;
  }

  .banner-wrapper{
    img{
      width: 100%;
    }
  }

  .boss-competition{
    position: relative;
    &::before{
      content: " ";
      width: 0.133rem;
      height: 0.133rem;
      border-radius: 50%;
      border: 2px solid #333;
      position: absolute;
      top: 0.133rem;
      background-color: #ffec5a;
      left: 0.133rem;
    }

    &::after{
      content: " ";
      width: 0.133rem;
      height: 0.133rem;
      border-radius: 50%;
      border: 2px solid #333;
      position: absolute;
      top: 0.133rem;
      background-color: #ffec5a;
      right: 0.133rem;
    }
    border: 3px solid #333;
    border-radius: 0.266rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #8a4efb;
    width: 7.333rem;
    height: 2.1333rem;
    margin: 0 auto;
    font-size: 0.48rem;
    color: #ffd600;
    margin-bottom: 0.133rem;
  }

  .boss-des{
    z-index: 11;
    text-decoration: underline;
    padding: 0.2666rem 0.4rem;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: white;
    font-size: 0.4rem;
    color: #333333;
    width: 7.4666rem;
    height: 2.3333rem;
    margin: 0 auto;
    border: 2px solid #333333;
    border-radius: 0.133rem;
    position: relative;
    border-bottom-right-radius: 0.266rem;
    border-bottom-left-radius: 0.266rem;
  }

  .call-to-action-wrap{
    z-index: 1;
    top: -0.8rem;
    position: relative;
    display: flex;
    align-items: center;
    width: 8.30rem;
    height: 4.25rem;
    background: url(../img/play_again_wrap.png) no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding-top: 0.8rem;
    box-sizing: border-box;

    .J_CTA{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.586rem;
      color: white;
      background: url(../img/result_button.png) no-repeat;
      width: 6.866rem;
      height: 2.2rem;
      background-size: cover;
      margin: 0 auto;
      font-weight: bolder;
      text-shadow: #000 1px 0 3px;
    }
  }

  .gift{
    display: block;
    background: url(../img/gift.png) no-repeat;
    width: 10rem;
    height: 4rem;
    background-size: cover;
  }

  .banner-wrapper{
    background-color: #fddd00;
    padding-top: 0.4rem;
    padding-bottom: 3rem;
    .banner{
      margin-bottom: 0.266rem;
    }
  }

}
