.font-hidden {
  font-size: 0;
}
#result {
  width: 10rem;
  margin: 0 auto;
  background-image: url(../img/result_bg.png);
}
#result .boss-result-img {
  width: 10rem;
  height: 5.84rem;
}
#result .boss-report {
  position: relative;
}
#result .boss-report .report-detail {
  position: absolute;
  top: 1.1rem;
  left: 1.2666rem;
}
#result .report-detail {
  box-sizing: border-box;
  padding: 0.2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/result_info_box_up.png);
  width: 3.6533rem;
  height: 2.04rem;
  padding-bottom: 0.6rem;
  background-size: cover;
}
#result .banner-wrapper img {
  width: 100%;
}
#result .boss-competition {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #8a4efb;
  width: 7.333rem;
  height: 2.1333rem;
  margin: 0 auto;
  font-size: 0.48rem;
  color: #ffd600;
}
#result .boss-des {
  padding: 0.2666rem 0.4rem;
  margin-top: 10px;
  box-sizing: border-box;
  background-color: white;
  font-size: 0.4rem;
  color: #333333;
  width: 7.4666rem;
  height: 2.3333rem;
  margin: 0 auto;
  border: 2px solid #333333;
}
#result .call-to-action-wrap {
  width: 8.266rem;
  height: 3.866rem;
  background-color: #8a4efb;
  margin: 0 auto;
}
#result .call-to-action-wrap .J_CTA {
  font-size: 0.586rem;
  color: white;
}
#result .gift {
  display: block;
  background: url(../img/gift.png) no-repeat;
  width: 10rem;
  height: 4rem;
  background-size: cover;
}
