<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>给工厂老板做个测试</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="shortcut icon" type="image/ico" href="favicon.ico"/>
    <link rel="stylesheet" href="../assets/css/common.css">
    <link rel="stylesheet" href="../assets/css/entry.css">
    <script src="../assets/js/libs/flexible.js"></script>
</head>
<body>
    <div id="entry">
        <div class="quiz-ur-boss">
            <h1 class="font-hidden">给老板做个测试</h1>
            <img src="../assets/img/title.png" alt="" class="title">
            <img src="../assets/img/boss_you.png" alt="" class="boss-and-you">
        </div>
        <a class="waiting" href="javascript:void;">
            <h2 class="font-hidden">等这一天很久了</h2>
        </a>
        <img src="../assets/img/bottom_left.png" alt="" class="bottom-left">
        <img src="../assets/img/bottom_right.png" alt="" class="bottom-right">
        <a class="bottom-middle font-hidden">
            <strong>加入淘力</strong>
            <p>淘力提供,仅供娱乐</p>
            <img src="../assets/img/join_tounick.png" alt="" class="join-tounick">
        </a>
    </div>
</body>
</html>
